<%= render 'greeting' %>

<p>
  Bad news - we've just tried to process your subscription, but an attempt to process your payment has failed. :(
</p>

<p>
  If you could log in to manage your account at <%= link_to root_url, root_url %> we'd really appreciate it.
  You can change your subscription settings by clicking "manage" and then "billing" next to your name.
</p>

<p>Thanks,</p>
<p>The Forge Invoice Robot</p>