<%= render 'blog_header' %>

<section id="blog" class="grade">
  <div class="wrap">
    
    <article>
    
      <hgroup>
        <h2><a href="#none">"Forge School Basics - The Web Design Process"</a></h2>
        <time>24th June, 2014</time>
        <small>Affiliate Post</small>
      </hgroup>
      
      
      
      <div class="post">

        <a style="border-bottom-style: none;" href="https://www.lynda.com/?utm_medium=ldc-partner&utm_source=SSPRC&utm_content=45&utm_campaign=CD18595&cid=l0:en:pt:le:prosb:s0:0:ind:ssprc:CD18595&bid=45&aid=CD18595&subID1=web-design-banner"><img src="http://lynda.directtrack.com/42/18595/45/" alt="lynda.com online training tutorials" border="0"></a>
      
        <p>We've partnered with online video learning platform Lynda.com to bring you some great tutorials, to get you started in designing better websites.</p>
        
        <div class="video" style="text-align: center;">
          <iframe width='560' height='315' src='https://www.lynda.com/player/embed/367151?fs=3&tr=utm_medium=ldc-partner;utm_source=SSPRC;utm_content=11889;utm_campaign=CD18595;aid=CD18595;bid=11889&w=560&h=315&subID1=forge-webdesign-basics-01&subID5=367151' mozallowfullscreen='true' webkitallowfullscreen='true' allowfullscreen='true' frameborder='0' scrolling='no'></iframe>
        </div>
        
      
        <p>Lynda.com instructor Morten Rand-Hendriksen gives us an introduction to this beginner level course on the Web Design Process.</p>
        
        <p>This course takes a step back, or even, a giant leap back from the actual building and takes you on a journey from initial consultation and discovery, through content strategy and UX considerations, to development, content creation, design, testing and launch.</p>

        <p>By the end of this course, you'll have a great understanding of what it takes to build great user experiences and how all these concepts fit together in a meaningful way.
      
        <p>
          <center>
            <%= link_to new_user_registration_url, :class => "register button" do %>
              <b>Host Your Website</b> with Forge!
            <% end %>
          </center>
        </p>

      </div>
      
    </article>
  
  </div>
</section>

<%= render 'try' %>