<div id="content">

  <section class="forms">
    <h2>Data <span class="csv"></span><span class="mailchimp"></span></h2>
    <h3>Last submissions</h3>
    <div class="forms-list">
      <div class="forms-list-header">
        <div class="form-name">Name</div>
        <div class="form-email">Email</div>
      </div>

      <div class="forms-list-item">
        <div class="form-name">YO</div>
        <div class="form-email">aksdlsd</div>
      </div>

     <div class="forms-list-item">
        <div class="form-name">YO</div>
        <div class="form-email">aksdlsd</div>

      </div>

     <div class="forms-list-item">
        <div class="form-name">YO</div>
        <div class="form-email">aksdlsd</div>
      </div>



    </div>
  </section>
</div>