<p>
  Hey, <%= @user.first_name %>,
</p>

<p>
  Thanks for signing up to Forge! We're happy to have you, and hope you enjoy using our service.
</p>

<p>
  Just a heads up - until you enter your credit card information, you'll only be able to 
  deploy one site at a time. Subscriptions start at $10 and there's a 14-day trial - so get to it!
</p>

<hr />

<p>Thanks,</p>
<p>
  The Forge Email Robot
</p>