<div id="first-run">
  <p><strong>Upload your first version!</strong> We've already deployed a placeholder for you to replace with your own version.</p>
  <div id="steps">
    <div class="step" id="step-1">
      <div class="icon"></div>
      <span>Zip up your site</span>
    </div>
    <div class="step" id="step-2">
      <div class="icon"></div>
      <span>Drag to this window</span>
    </div>
    <div class="step" id="step-3">
      <div class="icon"></div>
      <span>Watch it deploy</span>
    </div>
  </div>
</div>