<header>

  <h2 class="user">
    {{name}}
    {{view App.AvatarView emailBinding="email"}}
  </h2>

  {{#collection App.AccountTabCollectionView contentBinding="tabs"}}
      {{#if view.content.disabled}}
        <a href='#none'>{{view.content.name}}</a>
      {{else}}
        {{#link-to view.content.route}}{{view.content.name}}{{/link-to}}
      {{/if}}
  {{/collection}}

  <a href="#none" class="logout" {{action logOut}}>Log out</a>

  <a class="show-sidebar" {{action 'toggleSidebar'}} id="show-sidebar">Show Sidebar</a>
</header>

<div id="content">
  {{outlet}}
</div>