<p>Hey, <strong><%= @resource %></strong>!</p>

<p>You're receiving this email because you requested a password reset.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you've received this email in error, or you didn't requets a password reset, please ignore it.</p>

<p>
  Thanks,<br />
  <img src="http://f.cl.ly/items/191Z220M25302z3x3b2A/favicon-f836729a884291fa1c57bed03f540469.ico" width="18" style="position: relative; top: 5px"> 
  Forge.
</p>
