<header id="title">
  <hgroup>
    <a href="/"><strong id="logo">Forge</strong></a>
    <h1>Forge Blog</h1>
    <p>All the latest updates on Forge</p>
    <div class="sign-up">
      <%= link_to new_user_registration_url, :class => "register button" do %>
        <b>Sign Up</b> for free
      <% end %>
      <small class="cc">Or <a href="<%= new_user_registration_path %>" class="login">Log In</a> now</small>
    </div>
  </hgroup>
</header>

<section id="blog" class="grade">
  <div class="wrap">

    <article class="preview">
    
      <hgroup>
        <h2><a href="/blog/lynda-web-design-process">"Forge School Basics - The Web Design Process"</a></h2>
        <time>1st July, 2015</time>
        <small>Affiliate Post</small>
      </hgroup>
      
      <span class="image" style="background-image: url(/assets/public/blog-lynda-video-01.png)" data-style="background-image: url(/assets/public/blog-lynda-video-01.png)" data-retina-style="background-image: url(/assets/public/blog-lynda-video-01@2x.png)"><a href="#none"></a></span>
      
      <div class="post">
      
        <p>We've partnered with online video learning platform Lynda.com to introduce you to some great online courses, which will help you to design better websites.</p>
      
        <p></p>
        
        <p></p>
      
      </div>
      <p class="more"><a href="/blog/lynda-web-design-process">Read more</a></p>
      
    </article>

    

    <article class="preview">
    
      <hgroup>
        <h2><a href="/blog/roadmap-trello">"Opening the Roadmap for Forge"</a></h2>
        <time>26th June, 2015</time>
      </hgroup>
      
      <span class="image" style="background-image: url(/assets/public/blog_banner_roadmap.png)" data-style="background-image: url(/assets/public/blog_banner_roadmap.png)" data-retina-style="background-image: url(/assets/public/blog_banner_roadmap@2x.png)"><a href="http://bit.ly/forge-roadmap"></a></span>
      
      <div class="post">
      
        <p>We're a big fan of having an open and collaborative roadmap. So one of the first things I want to do, is get the tools in place and invite you to participate in the future of Forge. That's why we've opened up a Public Trello Board, so you know what we're thinking.</p>
      
        <p></p>
        
        <p></p>
      
      </div>
      <p class="more"><a href="/blog/roadmap-trello">Read more</a></p>
      
    </article>
    
  	<article class="preview">
  	
  		<hgroup>
  		  <h2><a href="/blog/syncing">"Sync with Dropbox and GitHub"</a></h2>
  		  <time>12th December, 2013</time>
  		</hgroup>
  		
  		<span class="image" style="background-image: url(/assets/public/blog-sync.png)" data-style="background-image: url(/assets/public/blog-sync.png)" data-retina-style="background-image: url(/assets/public/blog-sync@2x.png)"><a href="#none"></a></span>
  		
  		<div class="post">
  		
  		  <p>Today we're introducing what's been, by far, the most requested feature from our users - support for syncing and deploying sites using Dropbox and GitHub.</p>
  		
  		  <p></p>
  		  
  		  <p></p>
  		
  		</div>
  		<p class="more"><a href="/blog/syncing">Read more</a></p>
  		
  	</article>

    <article class="preview">
    
      <hgroup>
        <h2><a href="http://webdesign.tutsplus.com/courses/building-static-websites-with-hammer-for-os-x?ref=r3trosteve">"Get Started With Hammer - TutsPlus"</a></h2>
        <time>28th November, 2013</time>
        <small>Affiliate Post</small>
      </hgroup>
      
      <span class="image" style="background-image: url(/assets/public/blog_banner_tuts_hammer.png)" data-style="background-image: url(/assets/public/blog_banner_tuts_hammer.png)" data-retina-style="background-image: url(/assets/public/blog_banner_tuts_hammer@2x.png)"><a href="http://webdesign.tutsplus.com/courses/building-static-websites-with-hammer-for-os-x?ref=r3trosteve"></a></span>
      
      <div class="post">
      
        <p>Forge is a wonderful way to host your static sites. But Hammer is a beautiful way to build them. This short course, provided by Ian Yates via TutsPlus will get you all the way from setup to deployment and teach you why static is the future. With three hours of video lessons, you'll soon be building static websites with ease.</p>
      
        <p></p>
        
        <p></p>
      
      </div>
      <p class="more"><a href="http://webdesign.tutsplus.com/courses/building-static-websites-with-hammer-for-os-x?ref=r3trosteve">Take The Course</a></p>
      
    </article>
  
  </div>
</section>

<%= render 'try' %>