  <footer>
    <div class="wrap">
      
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/features">Features</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/static">Static?</a></li>
          <li><a href="/support"> Support</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/terms">Terms</a></li>
        </ul>
        <small id="riot"><a href="http://beach.io">A Beach Product</a></small>
      </nav>

    </div>    
  </footer>

</body>

</html>