<header id="title">
  <hgroup>
    <a href="/"><strong id="logo">Forge</strong></a>
    <h1>Why go static?</h1>
    <p>Static websites with Forge are the future</p>
    <div class="sign-up">
      <%= link_to new_user_registration_url, :class => "register button" do %>
        <b>Sign Up</b> for free
      <% end %>
      <small class="cc">Or <a href="<%= new_user_registration_path %>" class="login">Log In</a> now</small>
    </div>
  </hgroup>
</header>

<section id="secret" class="grade">
  <div class="wrap">
  
    <hgroup>
      <h1>Static brings the thunder and Forge is as fast as lightning.</h1>
    </hgroup>
    
    <ol>
      <li>Many of today's sites use <em>slow programming languages</em> and <em>database calls</em> on the server to compile and serve up your sites.</li>
      <li><span class="special">But there's a secret to better performance.</span></li>
      <li>By taking your site static, you can be sure that your web pages will <em>always be insanely fast</em>. No servers or database queries to worry about.</li>
    </ol>
  
  </div>
</section>

<section id="reasons" class="grade reverse">
  <div class="wrap">
  
    <hgroup>
      <h1>Why is static a better way to build and host my website?</h1>
    </hgroup>
    
    <article class="speed">
      <p><strong>Speed</strong> Every time your visitors have to wait for a page to load, they're one click away from leaving. A static site can be served much, much quicker.</p>
    </article>
    
    <article class="control">
      <p><strong>Control</strong> Take control over your markup and create and update it your way. Static sites are about the craftsman and their tools, not systems and data.</p>
    </article>
    
    <article class="robust">
      <p><strong>Robustness</strong> By decoupling your sites from servers and databases you’re removing overhead and making your site as performant as it can be.</p>
    </article>
  
  </div>
</section>

<aside class="call-out">
  <div class="wrap">
  
    <p>
      <span>Static is the way websites should be made. <b>Forge</b> is the place they should be hosted.</span>
      <%= link_to new_user_registration_url, :class => "register button pull-right" do %>
        <b>Sign Up</b> for free
      <% end %>
    </p>
    
  </div>
</aside>

<section id="hammer">
  <div class="wrap">
  
  	<div class="left">
  
	    <hgroup>
	      <h1>Hammer for Mac</h1>
	      <p>We built Hammer especially for front-end developers working with static webpages and builds.</p>
	    </hgroup>
	    
	    <p>Use Hammer on the Mac to create your static websites and publish to Forge with a simple drag and drop. <a href="http://hammerformac.com" target="_blank">Find out more</a>.</p>
	    
	    <p><a href="http://hammerformac.com" target="_blank" class="button blue app"><b>Download</b> Today</a></p>
	    
	  </div>
	  
	  <div class="right">
	  
	  	<span class="screenshot"></span>
	  
	  </div>
  
  </div>
</section>

<%= render 'try' %>