<!-- Try -->
<section id="try" class="grade">
  <div class="wrap">

    <hgroup>
      <h1>Give Forge a try for free right now</h1>
      <p>When you sign up you'll have one site available with a 1GB per month bandwidth cap. Upgrading to our Copper Plan lets you create up to 10 sites using your own custom domains with uncapped bandwidth (billed at 20&cent; / GB over a 10GB threshold). That's an undeniably good deal.</p>
    </hgroup>

    <div class="table">
      <ul class="zero">
        <li><strong>Tin</strong></li>
        <li><em>$0</em></li>
        <li>1 site</li>
        <li>1GB</li>
      </ul>
      <ul class="basic">
        <li><strong>Copper</strong></li>
        <li><em>$10</em></li>
        <li>10 sites</li>
        <li>10GB</li>
      </ul>
      <ul class="pro">
        <li><strong>Bronze</strong></li>
        <li><em>$50</em></li>
        <li>Unlimited</li>
        <li>100GB</li>
      </ul>
      <ul class="premium">
        <li><strong>Iron</strong></li>
        <li><em>$100</em></li>
        <li>Unlimited</li>
        <li>1TB</li>
      </ul>
      <small>Additional bandwidth available</small>
    </div>

    <p class="info">More information is available on our <a href="/pricing">pricing page</a></p>

    <div class="cta">
      <p>
        <%= link_to new_user_registration_url, :class => "register button" do %>
          <b>Claim</b> your free Forge Site
        <% end %>
        <small class="cc">No credit card required</small>
      </p>
    </div>

    <div id="tweet-promo">
      <p>
        <span>Follow our updates on Twitter and be sure to send us your feedback!</span>
        <a href="https://twitter.com/getforge" class="twitter-follow-button" data-show-count="false" data-size="large" data-related="getforge" data-dnt="true" >Follow @getforge</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="https://twitter.com/intent/tweet?screen_name=getforge" class="twitter-mention-button" data-size="large" data-related="getforge" data-dnt="true">Tweet to @getforge</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </p>
    </div>

  </div>
</section>